.contacts-container{
    margin: 100px 5vw 100px 5vw;
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 3px solid #2D3B97;
    padding: 50px;
    gap: 50px;
}

