.welcome-card-container{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    max-width: 500px;
    align-items: center;
}

.welcome-card-container h5{
    color: #2D3B97;
    font-size: 30px;
    font-weight: 400;
    padding-left: 20px;
}

.welcome-card-container p{
    padding: 35px 20px;
    color: #090909;
    font-size: 22px;
    font-weight: 400;
}

.card-icon{
    margin-top: 50px;
    width: 130px;
}

.card-text{
    height: 200px;
    border-bottom: 5px solid;
}

@media (max-width: 1360px){
    .card-text{
        height: 215px;
    }
}

@media (max-width: 1290px){
    .welcome-card-container h5{
        font-size: 26px;
        padding-left: 15px;
    }

    .welcome-card-container p{
        padding: 25px 15px;
        font-size: 20px;
        font-weight: 400;
    }
    
    .card-icon{
        margin-top: 40px;
        width: 90px;
    }
    

}


@media (max-width: 1080px){
    .welcome-card-container{
        max-width: 450px;
    }
    .card-text{
        height: 170px;
        border-bottom: 4px solid;
    }

    .welcome-card-container p{
        padding: 15px 10px;
    }
    .welcome-card-container h5{
        padding-left: 10px;
    }
}


@media (max-width: 860px){
    .welcome-card-container h5{
        font-size: 24px;
    }

    .welcome-card-container p{
        font-size: 18px;
    }
    
    .card-icon{
        margin-top: 25px;
        width: 90px;
    }

    .welcome-card-container{

        max-width: 450px;
    }

    .card-text{
        height: 160px;
    }
}



@media (max-width: 550px){
    .welcome-card-container h5{
        font-size: 22px;
    }

    .welcome-card-container p{
        font-size: 16px;
    }
    
    .card-icon{
        margin-top: 20px;
        width: 80px;
    }


    .card-text{
        height: 130px;
        border-bottom: 3px solid;
    }
}

