.welcome-container{
    width: 100%;
    padding: 0  0 120px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 90vw;
    align-self: center;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 17px;
  }
  
.header-container h2{
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #181F4F;
    height: 75%;
}

.hidden-text {
    display: none;
}

.overlay {
    position: relative;
    z-index: 2;
}

.overlay img{
    height: 50px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0px 5vw;
}


.header p{
    color: #090909;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.chat-container{
    margin: 50px 0px;
    background: rgba(24, 31, 79, 0.20);
    display: flex;
    flex-direction: column;
}


.chat-question{
    width: fit-content;
    border-radius: 20px 20px 20px 0px;
    background: var(--Gradient, linear-gradient(90deg, #2D3B97 0%, #181F4F 100%));
    padding: 30px 50px;
    color: var(--Main-White, #F5F5F5);
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    margin: 50px 0 35px 5vw;

}


.chat-answer{
    width: 60%;
    border-radius: 20px 20px 0px 20px;
    border: 3px solid #181F4F;
    background: var(--Main-White, #F5F5F5);
    padding: 30px 50px;
    color: #090909;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 5vw 50px 0;
    align-self: flex-end;
}


.card-container{
    width: 100%;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
}

@media (max-width: 1600px){
    .welcome-container{
        padding: 0  0 100px 0;
    }

    .chat-container{
        margin: 40px 0px;
    }
    
    
    .chat-question{
        padding: 25px 40px;
        margin: 40px 0 25px 5vw;
    
    }
    
    
    .chat-answer{
        width: 70%;
        padding: 25px 40px;
        margin: 0 5vw 40px 0;
    }
    

    .header-container {
        gap: 15px;
      }
      
    .header-container h2{
        font-size: 52px;
    }
    
    .overlay img{
        height: 41px;
    }
    
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .header p{
        font-size: 22px;
    }



    
    .chat-question{
        font-size: 24px;
    }
    
    
    .chat-answer{
        font-size: 20px;
    }
    
    
    .card-container{
        width: 100%;
        padding: 0 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 70px;
    }
}

@media (max-width: 1080px){

    .welcome-container{
        padding: 0  0 75px 0;
    }
    
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .chat-container{
        margin: 30px 0px;
    }
    
    
    .chat-question{
        padding: 20px 35px;
        margin: 30px 0 20px 5vw;
    
    }
    
    
    .chat-answer{
        padding: 20px 35px;
        margin: 0 5vw 30px 0;
    }
}

@media (max-width: 860px){

    .header-container {
        gap: 12px;
      }
      
    .header-container h2{
        font-size: 40px;
    }
    
    .overlay img{
        height: 32px;
    }
    
    .header{
        gap: 7px;
    }
    .header p{
        font-size: 20px;
    }

    .chat-question{
        font-size: 22px;
        padding: 20px 30px;

    }

    .chat-answer{
        font-size: 18px;
        padding: 20px 30px;
    }
}

@media (max-width: 550px){

    .welcome-container{
        padding: 0  0 50px 0;
    }

    .header-container {
        gap: 9px;
      }
      
    .header-container h2{
        font-size: 30px;
    }
    
    .overlay img{
        height: 23px;
    }
    
    .header{
        gap: 5px;
        text-align: center;
    }
    .header p{
        font-size: 18px;
    }

    
    .chat-question{
        font-size: 20px;
        padding: 15px 25px;
        margin: 20px 0 20px 5vw;

    }

    .card-container{
        gap: 40px;
        margin: 20px 0px;

    }
    
    .chat-answer{
        font-size: 16px;
        padding: 15px 15px;
        width: 80%;
        margin: 0 5vw 20px 0;
        border: 2px solid #181F4F;
    }

    .chat-container{
        margin: 20px 0px;
    }

}

@media (max-width: 390px){

    .header-container {
        gap: 5px;
        flex-direction: column;
      }
      
    .header{
        gap: 10px;
        text-align: center;

    }
}




