.member-card{
    display:flex;
    flex-direction: column;
    font-family: Inter;
    height: 140px;
    color: #090909;
    justify-content: space-between;
}


.upper-text{

    font-size: 26px;
    font-weight: 700;
    color: #2D3B97;
}

.member-name{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.upper-text span{
    font-weight: 400;
    color: #EE220D;
}

.member-card p{
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
    
}
.line-container{
    max-width: 500px;
    border-bottom: 5px solid;
}


@media (max-width:1290px) {
    .upper-text{
        font-size: 24px;
    }
    .member-card p{
        font-size: 20px;
        
    }
}

@media (max-width:1080px) {
    .member-card{
        height: 100px;
    }

    .line-container{
        border-bottom: 4px solid;
    }
}

@media (max-width:860px) {
    .upper-text{
        font-size: 22px;
    }
    .member-name{
        gap: 5px;
    }
    .member-card p{
        font-size: 18px;
    }
}

@media (max-width:550px) {
    .upper-text{
        font-size: 20px;
    }
    .member-card p{
        font-size: 16px;
    }
    .line-container{
        border-bottom: 3px solid;
    }
}


