.member-card{
    display:flex;
    flex-direction: column;
    font-family: Inter;
    height: 140px;
    justify-content: space-between;
}

.upper-text{
    display:flex;
    flex-direction: row;
    gap: 15px;
    font-size: 26px;
    font-weight: 700;
    color: #2D3B97;
}

.upper-text h6{
    font-weight: 400;
    color: #EE220D;
}

.member-card p{
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
}

.line-container{
    max-width: 500px;
}






