.contact-card-container{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    width: 400px;
    align-items: center;
    color: #090909;
    text-align: center;
    height: 415px;
    justify-content: space-between;
}


.contact-card-container p{
    padding: 20px;
    color: #181F4F;
    font-size: 26px;
    font-weight: 400;
    max-width: 330px;

}

.contact-card-icon{
    width: 50px;
}

.contact-card-text h5{
    color: #181F4F;
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.contact-card-text p{
    color: #090909;
    font-size: 22px;
    font-weight: 400;
}


@media (max-width: 1600px){

    .contact-card-text h5{
        font-size: 35px;
        margin-top: 30px;
    }
    .contact-card-container p{
        font-size: 24px;
        max-width: 310px;

    }
    .contact-card-text p{
        padding-top: 25px;
        font-size: 20px;
    }
    .contact-card-icon{
        width: 45px;
    }

}


@media (max-width: 1080px){

    .contact-card-container p{
        padding: 0px;
        max-width: 1000px;

    }
    .contact-card-text p{
        padding: 10px 20px 20px 20px;
    }
    .contact-card-container{
        height: auto;
        width: auto;
    }

}


@media (max-width: 860px){
    .contact-card-text h5{
        font-size: 30px;
        margin-top: 20px;

    }

    .contact-card-container p{
        font-size: 22px;
    }

    .contact-card-text p{
        font-size: 18px;
    }
    
    .contact-card-icon{
        width: 40px;
    }

}



@media (max-width: 550px){
    .contact-card-text h5{
        font-size: 25px;
    }

    .contact-card-container p{
        font-size: 20px;
        max-width: 220px;
    }
    .contact-card-text p{
        font-size: 16px;
        max-width: 100%;

    }

        
    .contact-card-icon{
        width: 35px;
    }

}
